@page "/BaseServices"
@inherits Ace.AceGUI.Pages.BaseServicesCodeBehind
<h1>AceCommander Base Services</h1>

<!-- If the onInitAsync, and the Initialization has not occurred, set a caution window style -->
<!-- If the onInitAsync, and the Initialization has occurred, set a normal window style -->

@if (@IsInitialized == false)
{<p>IsInitialized is STILL false</p>}
else
{


<hr />
<p> add User LoginOrRegisterNewUserComponent here</p>
<!-- <BaseServicesUserRegistration /> -->

<!--
<hr />
<p> Long running Tasks </p>
<p> count: @LongRunningTasksCOD.Keys.Count </p>

@foreach (var kv in LongRunningTasksCOD)
{
    <p> LRTId: @kv.Key.ToString() Status:@kv.Value.TaskStatus.ToString() </p>
}
-->
<p>test: @testint </p>

}


