@page "/ConfigurationData"
@inherits Ace.AceGUI.Pages.DiskAnalysisServicesCodeBehind
<h1>AceCommander DiskAnalysisServices Configuration Data</h1>

@if (@InitializationResponse == null)
{
<p><em>Loading (Calling onInitAsync)</em></p>
}
else
{
<h2>Configuration Data</h2>
<div>
  <label for="ConfigurationDataBlockSize">@labelForConfigurationDataBlockSize</label>
  <input type="text" class="form-control" id="ConfigurationDataBlockSize" bind="@ConfigurationData.BlockSize" />
</div>
<div class="checkbox">
  <label for="ConfigurationDataSave">@labelForConfigurationDataSave</label>> 
    <input type="checkbox" id="ConfigurationDataSave" bind="@ConfigurationDataSave" /> 

</div>
<button type="button" class="btn btn-default" @onclick="(async () => await SetConfigurationData())">Submit</button>
<p>ToDo: show long running taskid</p>
}

