@page "/RealEstateSearchServices"
@inherits Ace.AceGUI.Pages.RealEstateSearchServicesCodeBehind
<h1>AceCommander Real Estate Search Services</h1>
   
@if (@realEstateSearchServicesInitializationResponseOK == false)
{
  <p><em>Loading (Calling onInitAsync)</em></p>
}
else
{
  <p>
    Enter Google passphrase to decrypt Google APIKey stored in iCacheProvider. The value of the APIKey stored in this cache is encrypted, and will not be saved to VersionControl
    <input type="text"
           bind="@GoogleAPIKeyPassPhrase"
           placeholder="@GoogleAPIKeyPassPhrasePlaceHolder" />
    <button type="button"  onclick="@SubmitGoogleAPIKeyPassPhrase">Submit To AceCommander</button>
    <br />
    SubmitGoogleAPIKeyPassPhraseResponse = @if (@SubmitGoogleAPIKeyPassPhraseResponse == null) { <p>The Response is null</p> }
    else
    {@SubmitGoogleAPIKeyPassPhraseResponse.Result}
    <br />
    Enter HomeAway passphrase to decrypt HomeAway APIKey stored in iCacheProvider. The value of the APIKey stored in this cache is encrypted.
    <br />
    Would you like to save the Google APIKey passphrase on this machine? Will be stored in a different persistence storage than where the APIKey is stored, and will not be saved to VersionControl
    <br />
    Would you like to save the HomeAway APIKey passphrase on this machine?


  </p>
  }

