<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">AceCommander</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/BaseServices">
                <span class="oi oi-plus" aria-hidden="true"></span> BaseServices
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/BaseServices.TaskStatus">
                <span class="oi oi-plus" aria-hidden="true"></span> BaseServices.TaskStatus
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/BaseServices.GeoLocation">
                <span class="oi oi-plus" aria-hidden="true"></span> BaseServices.GeoLocation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/BaseServices.Configuration">
                <span class="oi oi-plus" aria-hidden="true"></span> BaseServices.Configuration
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/BaseServices.UserData">
                <span class="oi oi-plus" aria-hidden="true"></span> BaseServices.UserData
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/RealEstateServices">
                <span class="oi oi-plus" aria-hidden="true"></span> RealEstateServices
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/RealEstateServicesConfigurationData">
                <span class="oi oi-plus" aria-hidden="true"></span> RealEstateServices.ConfigurationData
            </NavLink>
        </li>
        <li class="nav-item   px-3">
            <NavLink class="nav-link" href="/RealEstateServicesUserData">
                <span class="oi oi-plus" aria-hidden="true"></span> RealEstateServices.UserData
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/DiskAnalysisServices">
                <span class="oi oi-plus" aria-hidden="true"></span> DiskAnalysisServices
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ConfigurationData">
                <span class="oi oi-plus" aria-hidden="true"></span> DiskAnalysisServices.ConfigurationData
            </NavLink>
        </li>
        <li class="nav-item   px-3">
            <NavLink class="nav-link" href="/UserData">
                <span class="oi oi-plus" aria-hidden="true"></span> DiskAnalysisServices.UserData
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/GUIServices">
                <span class="oi oi-plus" aria-hidden="true"></span> GUIServices
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ComputerInventory.Hardware">
                <span class="oi oi-plus" aria-hidden="true"></span>ComputerInventory.Hardware
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/CryptoCoin.NetworkInfo">
                <span class="oi oi-plus" aria-hidden="true"></span>CryptoCoin.NetworkInfo
            </NavLink>
        </li>

    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
