@page "/BaseServices"
@inherits Ace.AceGUI.Pages.BaseServicesCodeBehind
<h1>AceCommander Base Services</h1>

@if (@InitializationResponse == null)
{
  <p><em>Loading (Calling onInitAsync)</em></p>
}
else
{

  @if (@IsAliveRspPayload == null)
  {
    <p>Getting IsAlive..</p>
  }
  else
  {
    <p>IsAliveRspPayload = @IsAliveRspPayload</p>
  }
  <hr />
  <p> add User LoginOrRegisterNewUserComponent here</p>
  <BaseServicesUserRegistration />
}

