@page "/DiskAnalysisServices"
@inherits Ace.AceGUI.Pages.DiskAnalysisServicesCodeBehind
<h1>AceCommander Disk Drive and Filesystem Analysis Services</h1>


    <p><em>ToDo: replace with window effect. Loading (The page load is calling onInitAsync, which has not yet returned a value for Initialization Response)</em></p>

    <hr />
    <button id="btnReadDisk" type="button" class="btn btn-primary" onclick="@(async () => await AnalyzeDiskDrive("localhost",2))">Analyze Disk Drive (hardcoded localhost drive 2)</button>


<p>WalkDiskDriveRunningTaskIDs =  @AnalyzeDiskDriveLongRunningTaskIDs.ToString() </p>

<p>The state of the AnalyzeDiskDriveLongRunningTask is: @AnalyzeDiskDriveLongRunningTaskState</p>
        <button id="btnGetLongRunningTaskState" type="button" class="btn btn-default" onclick="@(async () => await GetLongRunningTaskState(@AnalyzeDiskDriveLongRunningTaskIDs))">Update Task State</button>

  



}

